body {
    overflow-x: hidden;
}


#edu {
    margin-top: 150px;
}

#edu>h1 {
    margin-bottom: 5%;
}


.lang {
    margin-top: 3%;
    border-bottom: 1px solid black;
    padding: 1%;
}


#edu-cards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 10px;
    margin-left: 2%;
    padding: 2%;
    margin-bottom: 4%;
}

#lang-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 2%;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
}
