body {
    background-image: url(../images/backgroundimage.png);
    
    background-size: cover;
   /* Add the blur effect */
backdrop-filter: blur(100px);
    opacity: 20%;


  /* Center and scale the image nicely */
}

