
body {
    background-image: none;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    overflow-y: none;

   
    

}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}


#sideBar {
    padding: 3%;
    border-right: 1px solid black;
    margin-top: 10%;

}

#sideBar>h5 {
    color: rgb(0, 23, 175);
    font-size: 17px;
}

#sideBar>p {
    margin-top: 6%;
    margin-bottom: 12%;
    font-weight: bold;
    font-size: 14px;
}

#about {
    margin-top: 10%;
    
}

#about>h1 {
    font-weight: bold;
    margin-bottom: 2%;
}

#about>h3 {
    color: rgb(0, 23, 175);
    font-size: 24px;
}

#about>h4 {
    font-size: 22px;
}

#intro {
    margin-top: 20%;
    font-size: 16px;
    padding: 1%;
    border-radius: 5px;

}



@media only screen and (max-width: 1170px) {
    #about>h4 {
        font-size: 18px;}


  }


  @media only screen and (max-width:991px) {

    #flex-row {

    }

    #sideBar {
        order: 2;
  
     }

    #about {
        order: -10;
        margin-top: 15%;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
      
        
        
    }

    #intro {
        order: 2;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 2%;
      
        
    }
    
    
  }

