  nav {
    background-color: #ededed;
    position: fixed;
    
 }
 
.navbar {
    
    padding: 1%;
    padding-left: 2%;
    font-size: 15px;
    text-decoration: none;
    transition: 0,5s;
    
    
}

#nav-link {
    font-size: 18px;
}

#navbarNav {
    width: 60%;
}

.nav-link {
    box-shadow: #e5e5e8(17, 17, 26, 0.1) 0px 4px 0px;
    color: black;
    transition: 0.5s;
    margin-left: 20px;
   
    
}

#nav-link {
    transition: 0.5s;
}

#nav-link:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 0px;
}


.nav-link:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 0px;
}

.active-page {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 0px;
}
 

 @media only screen and (max-width: 500px) {


    /* Make it make sense */
    #nav-link {
        font-size: 18px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 2px;
        padding: 8px;
    }

    .nav-link {
        font-size: 0px;
    }

    .nav-icon {
        font-size: 18px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
        padding: 8px;
    }


    
 }

